$color-navy: #1e3f61;
$color-navy-dark: rgb(23, 46, 69);
$color-navy-light: rgba(30, 63, 97, 0.2);
$color-navy-lighter: rgba(30, 63, 97, 0.05);
$color-white: #fff;
$color-black: #1e1e1e;
$color-gray: #797979;

$font-serif: "Italiana", sans-serif;
$font-sans: "DM Sans", sans-serif;

$font-size-xl: 2rem;
$font-size-lg: 1.5rem;
$font-size-md: 1.2rem;
$font-size-sm: 1rem;
$font-size-xs: 0.8rem;

$spacing-xl: 200px;
$spacing-lg: 100px;
$spacing-md: 80px;
$spacing-sm: 50px;
$spacing-xs: 20px;

$bp-mobile: 768px;
