@use "variables" as *;

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Italiana&display=swap");

:root {
  --color-navy: #{$color-navy};
  --color-navy-light: #{$color-navy-light};
  --color-navy-lighter: #{$color-navy-lighter};
  --color-white: #{$color-white};
  --color-black: #{$color-black};
  --color-gray: #{$color-gray};

  --font-serif: #{$font-serif};
  --font-sans: #{$font-sans};
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: $font-sans;
  font-size: $font-size-sm;
  font-weight: 300;
  color: $color-black;
}

h1 {
  font-family: $font-serif;
  font-size: clamp(2.5rem, 4vw, $font-size-xl);
  font-weight: 400;
  line-height: 1.15;
  color: $color-navy;
}

h2 {
  font-family: $font-serif;
  font-size: $font-size-lg;
  color: $color-navy;
  margin-bottom: $spacing-sm;
}

h3 {
  font-size: $font-size-sm;
  font-weight: "semibold";
  line-height: 1.4;
  color: $color-navy;
  margin-bottom: $spacing-xs;
}

p {
  font-size: $font-size-sm;
  line-height: 1.75;

  &.quote {
    font-family: $font-serif;
    font-size: $font-size-lg;
    color: $color-navy;
    line-height: normal;
  }
}

strong {
  font-weight: 600;
}

a {
  color: $color-navy;
  text-underline-offset: 3px;
}

img {
  max-width: 100%;
}

.rich-text {
  p {
    margin-bottom: 2rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  ul,
  ol {
    margin-bottom: 1.25rem;
    padding-left: 1.25rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  li {
    margin-bottom: 0.75rem;
  }

  h2,
  h3 {
    margin-top: 1.5rem;
  }
}

.text-light {
  color: $color-gray;
}

.btn {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.65rem 1.5rem;
  background-color: $color-navy;
  color: $color-white;
  font-family: $font-sans;
  font-size: $font-size-xs;
  font-weight: 400;
  text-decoration: none;
  transition: background-color 0.2s ease;
  margin: $spacing-xs;

  &:hover {
    background-color: $color-navy-dark;
    color: $color-white;
  }
}
